<html>
    <head>
        <title>
            Proyecto Backend Ana Uchuya
        </title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>
                Musicando     
            </p>
            <nav>
                <ul>
                    <li>
                        <a href="/canciones/crear">Crear canciones</a>
                    </li>
                    <li>   
                        <a href="/canciones">Listado de canciones</a>
                    </li>
                    <li>   
                        <a href="/generos">Listado de géneros</a>
                    </li>
                </ul>
            </nav>
        </header>